body{}
table {
	border-collapse: collapse;
    line-height:1.6em;
}

tr:nth-child(even) {
    background: #F2F2F2;
}
th {
	padding: 0 0.5em;
	text-align: left;
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	border-right: 1px solid #FB7A31;
	background: #FFC;
}
th:first-child {
	border-left: 1px solid #FB7A31;
}
td {
	border-bottom: 1px solid #CCC;
	padding: 0 1.5em;
	border-right: 1px solid #CCC;
	text-align: center;
}
td:first-child {
	width: 150px;
	border-left: 1px solid #CCC;
}

